.Footer{
    width: 100%;
    background-color: var(--fullWhite);
    padding: 40px 100px 0;
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 50px;
        padding: 0 0 40px;
    }
    &-logo{
        width: calc(100% / 3);
        display: flex;
        justify-content: flex-start;
    }
    &-nav{
        width: calc(100% / 3);
        display: flex;
        justify-content: center;
        gap: 65px;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        padding: 40px 0 0;
    }
    &-contact{
        width: calc(100% / 3);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 40px 0 0;
    }
    &-mail{
        margin: 10px 0 0;
    }
    &-list{
        display: flex;
        gap: 100px;;
    }
    &-item, &-contactTitle{
        font-size: 20px;
        font-weight: 600;
    }
    &-subFooter{
        position: relative;
        padding: 30px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 1px;
            background-color: #636363;
        }
    }
    &-disclaimer{
     width: calc(100% / 3);
    }
    &-legalList{
        width: calc(100% / 3);
        display: flex;
        gap: 50px;
        justify-content: center;
    }
    &-legalItem{
        font-size: 14px;
        font-weight: 400;
        color: #636363;
        text-transform: uppercase;
    }
    &-creator{
        width: calc(100% / 3);
        display: flex;
        justify-content: flex-end;
    }
    @media (max-width: 1920px){
        &-nav{
            width: 50%;
        }
    }
    @media (max-width: 1024px){
        padding: 40px 20px 0;
        &-content{
            gap: 30px;
        }
        &-contact, &-nav, &-logo, &-legalList, &-creator, &-disclaimer{
            width: fit-content;
        }
        &-nav{
            gap: 40px;
        }
        &-list{
            gap: 50px;
        }
        &-legalList{
            gap: 30px;
        }
    }
    @media (max-width: 768px){
        padding: 20px 20px 0;
        &-content{
            flex-direction: column;
            gap: 20px;
        }
        &-logo{
            width: 100%;
            justify-content: center;
        }
        &-nav{
            width: 100%;
            justify-content: center;
            gap: 20px;
            padding: 20px 0 0;
        }
        &-contact{
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 20px 0 0;
        }
        &-list{
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        &-disclaimer{
            width: 100%;
            text-align: center;
        }
        &-subFooter{
            flex-direction: column;
            gap: 20px;
            padding: 20px 0;
        }
        &-legalList{
            width: 100%;
            justify-content: center;
            gap: 20px;
        }
        &-creator{
            width: 100%;
            justify-content: center;
        }
    }
}

.logoDiety{
    width: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-hojaOne{
        fill: var(--main)
    }
    &-hojaTwo{
        fill: var(--secondary);
    }
    &-text{
        fill: var(--fullBlack);
    }
}