.Header{
    position: fixed;
    width: 100vw;
    min-height: 4.6875rem;
    transition: all .25s;
    z-index: 7;
    &-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.875rem 6.25rem;
        z-index: 3;
        text-transform: capitalize;
    }
    &-logo, &-nav, &-access, &-userPanel{
        width: calc(100% / 3);
    }
    &-logoSvg{
        width: fit-content;
    }
    &-list{
        display: flex;
        justify-content: center;
        gap: 65px;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &-item{
        font-size: 1.25rem;
    }
    &-access{
        display: flex;
        justify-content: flex-end;
        gap: 1.875rem;
    }
    &-menuButton{
        display: none;
    }
    &-menuToggler{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    @media (max-width: 1024px){
        &-wrapper{
            padding: 1.875rem 20px;
        }
        &-nav{
            gap: 10px;
        }
        &-userPanel{
            display: flex;
            justify-content: flex-end;
        }
        &-access{
            gap: 1.25rem;
        }
    }
    @media (max-width: 768px){
        &-wrapper{
            padding: 1.25rem 1.25rem;
        }
        &-nav{
            display: none;
        }
        &-logo{
            width: 50%;
        }
        &-access{
            display: none;
        }
        &-menuButton{
            position: relative;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            cursor: pointer;
        }
        &-menuToggler{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        &-button--line{
            width: 100%;
            height: 3px;
            background-color: var(--fullBlack);
            transition: all .25s;
        }
        &-button--active{
           &:nth-child(2){
               transform: rotate(45deg) translate(4px, 5px);
           }
              &:nth-child(3){
                transform: rotate(-45deg) translate(4px, -5px);
              }
        }
        &-userPanel{
            display: none;
        }
    }
    
}

.MainMenu{
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    padding: 115px 50px 0;
    transform: translate(100%);
    background: #f4f4f4;
    transition: all .3s;
    z-index: 6;
    &--active{
        transform: translateX(0);
    }
    &-groupTitle{
        font-size: 22px;
        line-height: normal;
        font-weight: 600;
        color: var(--secondary);
    }
    &-nav{
       height: 100%;
    }
    &-list{
        height: 100%;
        display: flex;
        padding: 50px 0 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.25rem;
    }
    &-item{
        font-size: 20px;
        text-align: center;
    }
    &-link{
        color: #7c7c7c;
        text-decoration: none;
    }
}

.UserPanel{
    &-wrapper{
        display: flex;
        gap: 1.25rem;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }
    &-info{
        width: 200px;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px 15px;
        transition: all 0.3s;
        border-radius: 20px 20px 0 0;
        &:hover{
            background-color: var(--fullWhite);
            .UserPanel-dropDown{
                opacity: 1;
                visibility: visible;
                background-color: var(--fullWhite);
                &::after {
                    content: "";
                    position: absolute;
                    top: 5px;
                    left: calc(100% - 95%);
                    height: 1px;
                    width: 90%;
                    background: #c3c3c3;
                }
            }
        }
    }   
    &-dropDown{
        width: 200px;
        padding: 15px;
        display: flex;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        right: 0;
        border-radius: 0 0 20px 20px;
        z-index: 5;
        flex-direction: column;
        overflow: hidden;
        gap: 5px;
        transition: all 0.3s;
    }
    &-link{
        display: flex;
        gap: 10px;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 600;
        color: var(--fullBlack);
        cursor: pointer;
        transition: all 0.3s;
        border-radius: 10px;
        svg{
            fill: #ABABAB;
        }
        &:hover{
            color: var(--fullWhite);
            background: var(--secondary);
            svg{
                fill: var(--fullWhite);
            }
        }
    }
    &-svg{
            width: 25px;
            height: 25px;
            fill: var(--fullBlack);
        }
    &-userLogout{
        display: flex;
        gap: 10px;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 600;
        color: var(--fullWhite);
        cursor: pointer;
        transition: all 0.3s;
        border-radius: 10px;
        background: #D71515;
        svg{
            fill: var(--fullWhite);
        }
        &:hover{
            background: #940e0e;
        }
    }
}

.scrolled{
    background-color: var(--fullWhite);
}