.More{
    width: 100%;
    background-color: var(--main);
    background-image: url('/imgs/bg-faldon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 160px 40px;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-title{
        font-size: 40px;
        max-width: 850px;
        font-weight: 500;
        color: var(--fullWhite);
    }
    &-buttonsWrapper{
        display: flex;
        gap: .9375rem;
        height: fit-content;
    }

    @media (max-width: 1024px){
        padding: 40px 40px;
        &-wrapper{
            flex-direction: column;
            text-align: center;
            gap: 20px;
        }
        &-title{
            font-size: 30px;
        }
    }
    @media (max-width: 768px){
        padding: 3.125rem 1.25rem;
        &-wrapper{
            flex-direction: column;
            gap: 20px;
            text-align: center;
        }
        &-title{
            font-size: 28px;
        }
        &-buttonsWrapper{
            flex-direction: column;
            gap: 1.25rem;
        }
    }
}