@import url("/fonts/plus_jakarta_sans/stylesheet.scss");

html, body {
  background: #F7F7F7;
}

body {
  font-family: var(--mainFont);
}

.Button {
  padding: 1.3125rem;
  border: none;
  border-radius: 1.25rem;
  font-size: 1.125rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  transition: all .25s;
  &-text{
    margin: -1px 0 0;
  }
  &-icon{
    width: 38px;
  }
  &-iconArrow{
    fill: var(--fullWhite);
  }
  &-register, &-login {
    padding: 0.625rem 1.25rem;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  &-register {
    color: var(--blanco);
    background: var(--secondary);
    &:hover{
      color: var(--negro);
      background: var(--main);
    }
  }
  &-login {
    color: var(--negro);
    background: var(--main);
    &:hover{
      color: var(--blanco);
      background: var(--secondary);
    }
  }
  &-find{
    border-radius: 20px;
    border: 1px solid var(--secondary);
    gap: 10px;
    &:hover{
      background: var(--main);
      .Button-icon{
        svg{
          fill: var(--negro);
        }
      }
    }
  }
  &-startNow{
    background: var(--secondary);
    color: var(--fullWhite);
    gap: 20px;
    .Button-text{
      width: 90%;
      text-align: center;
    }
    &:hover{
      background: var(--main);
      color: var(--negro);
      .Button-iconArrow{
        fill: var(--negro);
      }
    }
  }

}

.Brand-name {
  font-weight: 800;
  text-transform: uppercase;
}

.user-profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width : 45px;
  height: 45px;
  background-color: brown;
  color: #ffffff;
  padding: 10px;
  font-size: 30px;
  border-radius: 50%;
  font-weight: 800;
  &--initials{
    margin-top: -5px;
    text-transform: uppercase;
  }
}

.message-container {
  position: fixed;
  top: 16px;
  left: calc(50% - var(--message-width));
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
  pointer-events: none;
}

.message {
  display: flex;
  align-items: center;
  background: #fff;
  color: #363636;
  padding: 12px 15px;
  font-size: 16px;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);
  max-width: 300px;
  opacity: 0;
  transform: translateY(-20px) scale(0.8);
  transition: opacity 0.5s ease, transform 0.5s ease, margin 0.5s;
}

.message.active {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.message-success {
  background-color: #45ca23;
  color: #fff;
}

.message-error {
  background-color: #f44336;
  color: #fff;
}