.AllRecipes{
    &-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(26.25rem, 1fr));
        gap: 1.25rem;
    }
    &-description p{
        text-overflow: ellipsis;
    }
    &-recipe{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
        border-radius: 1.25rem;
    }
    &-recipeImageWrapper{
        width: 100%;
        position: relative;
        border-radius: 1.25rem 1.25rem 0 0;
        overflow: hidden;
    }
    &-recipeImage{
        width: 100%;
        height: 17.5rem;
        object-fit: cover;
        z-index: 1;
    }
    &-recipeTitle{
        font-size: 1.875rem;
        text-transform: uppercase;
        transition: all 0.3s;
    }
    &-buttonWrapper{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 1.25rem;
    }
    &-recipeContent{
        width: 100%;
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        background: var(--fullBlack);
        border-radius: 0 0 1.25rem 1.25rem;
        gap: .625rem;
        color: var(--fullWhite);
    }
    &-button{
        padding: .75rem .9375rem;
        margin: .625rem 0;
        border: none;
        border-radius: .9375rem;
        background: var(--secondary);
        color: var(--fullWhite);
        cursor: pointer;
        transition: all .3s;
        &:hover{
            background: var(--main);
        }
        &--confirm{
            width: 50%;
            background: #d61c1c;
            color: var(--fullWhite);
            &:hover{
                background: #a90f0f;
            }
        }
        &--decline{
            width: 50%;
            background: var(--secondary);
            color: var(--fullWhite);
            &:hover{
                background: #0b5334;
            }
        }
    }
    &-confirmPopUp{
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9;
        transition: all 0.3s;
        &--active{
            opacity: 1;
            visibility: visible;
        }
        &-title{
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--fullBlack);
        }
        &-buttons{
            width: 100%;
            display: flex;
            gap: 1.25rem;
        }
        &-content{
            width: 20%;
            padding: 1.25rem;
            background: var(--fullWhite);
            border-radius: 1.25rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.25rem;
        
        }
        @media (max-width: 768px){
            &-content{
                width: 80%;
            }
        }
    }
    @media (max-width: 768px){
        &-list{
           grid-template-columns: 1fr;
        }
        &-recipeImage{
           height: 12.5rem;
        }
        &-recipeTitle{
           font-size: 1.5rem;
        }
        &-recipeContent{
           padding: 1rem;
        }
        &-buttonWrapper{
           gap: .625rem;
        }
        &-button{
           line-height: 1.2em;
           padding: .7rem .5rem;
           font-size: .875rem;
        }
    }
}